<%- include('includes/header') %>

    <div class="container">
        <form action="/consultas" method="post">
            <label for="resultado">Respuesta de entrega:</label>
            <p> <%- mensaje %> </p>
            

            <p>"Estamos prestos a atenderle cualquier inquietud por nuestros canales de atencion"</p>
        </form>
        <a href="/">Regresar al inicio</a>
    </div>

<%- include('includes/footer') %>
