<%- include('includes/header') %>

    <div class="container">

        <script src = ../../app.js></script>

        

        
        <form action="/mensajes" method="post">

            

            <label for="mensaje">Envíe su mensaje:</label>

            <p></p>

            <textarea name="mensaje" rows="10" cols="40">Escribe aquí tus comentarios</textarea>

            <p></p>

            <button type="submit">Enviar</button>

            <p></p>
            
        </form>

        
    

        <div>

            <label for="mensaje">Respuesta:</label>

            <p></p>

            <form action="/mensajes" method="post">

                
    
                <p></p>
    
                <input type="number" name="respuesta" id="respuesta" placeholder="respuesta">

    
                <p></p>
    
                <button id="ver" data-comprador-id="6" data-pedido-id="5" >Ver respuestas</button>

    
                <p></p>
                
            </form> 

            <p>   </p>

            

            <p></p>

        

        </div>
        
        
        <p>"Estamos prestos a atenderle cualquier inquietud por nuestros canales de atencion"</p>

        <a href="/">Regresar al inicio</a>
    </div>
    <!--<script src = ../../app.js></script>-->
    <!--<script src = public/views/otrapp.js></script>-->
    <script>
        document.getElementById("ver").onclick = async (e) => {
    e.preventDefault();
    console.log("Iniciando envío de datos");

    //const button = e.target;
    //const compradores_id = button.dataset.compradorId;
    //const pedidos_id = button.dataset.pedidoId;

    try {
        const compradores_id = 6; 
        const pedidos_id = 5;
        const res = await fetch("/respuestas", {
            method: "POST",
            body: JSON.stringify({
                compradores_id: compradores_id,
                pedidos_id: pedidos_id
            }),
            headers: {
                "Content-Type": "application/json"
            }
        });

        if (!res.ok) {
            throw new Error(`Http error status: ${res.status}`);
        }

        const data = await res.json();
        console.log("Respuesta recibida:", data);

    } catch (error) {
        console.error("Error al enviar datos", error);
    }
};
        
    </script>



<%- include('includes/footer') %>